extends layout

block content
    games
    if games.length
        table
            tr
                th Title
                th Original Price
                th Sale Price
                th Discount %
                th Date and Time
                th Link
                th Add to Saves
            
            each game in games
                tr 
                    td
                        a(class="button" href=game.link) #{game.title}
                    td= game.original
                    td= game.sale
                    td= game.discount
                    td= game.date + " " + game.time
                    td
                        a(class='button' href=game.link) Visit Steam 
                    td
                        a(class="button" href="/save?title=" + game.title) Save
    else
        p No games on sale :(