include layout.pug

block content
    -data = data || {}
    if errors
        ul
        for error in errors
            li= error.msg
    .container
        .d-flex.justify-content-center.h-100.mt-3
        .card
            h5.card-header Log In
            .card-body
                form(action="/login" method="POST")
                    .input-group.form-group
                        .input-group-prepend
                        span.input-group-text
                            i.fas.fa-user
                        input.form-control(type='text', id="uname", placeholder='username', name="uname", value=data.uname)
                    .input-group.form-group
                        .input-group-prepend
                        span.input-group-text
                            i.fas.fa-key
                        input.form-control(type='password', id="password", name="password", placeholder='password' value=data.password)
                    .input-group.form-group
                        input.btn.btn-primary.float-right.login_btn(type='submit', value='Submit')
        //- if errors && !passwordMatched
        //-     h3.text-center.mt-3 Incorrect password!

//- extends layout

//- block content
//-     -data = data || {}
//-     if errors
//-         ul
//-         for error in errors
//-             li= error.msg

//-     form(action="/login" method="POST")
//-         label(for="username") Username:
//-         input(
//-             type="text"
//-             id="uname"
//-             placeholder="username"
//-             name="uname"
//-             value=data.uname
//-         )

//-         label(for="pw") Password:
//-         input(
//-             type="password"
//-             id="password"
//-             name="password"
//-             value=data.password
//-         )
//-         input(type="submit" value="Submit")