include layout.pug

block content
    .container-md
        if games.length
            table.table.mt-3
                thead.thead-dark
                    tr
                        th(scope='col') Title
                        th(scope='col') Sale Price
                        th(scope='col') Original Price
                        th(scope='col') Discount
                        th(scope='col') Link to Steam
                        th(scope='col') Save Deal
                tbody
                    each game in games
                        tr
                            th(scope='row')=game.title
                            td="$" + game.sale
                            td="$" + game.original
                            td=game.discount + "%"
                            td
                                a.btn.btn-primary(target="_blank" href=game.link, role='button') Link
                            td
                                a.btn.btn-primary(role="button" href="/save?title=" + game.title) Save
        else
            h1.text-center.mt-3 There is no sale on that game. Sorry!